* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
}

nav .container {
  border-bottom: 1px solid white;
}

nav .container h1 {
  color: white;
  font-family: Catamaran;
  font-weight: 900;
  margin: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 4vh;
}

section.body {
  margin-top: 2vh;
}

section.body .menu {
  padding-bottom: 1vh;
}

section.body .menu img {
  height: 3vh;
  margin-right: 4vh;
}

section.body .toggle {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

section.body .toggle select {
  float: right;
  background: none;
  border: 1px solid white;
  color: white;
  font-family: Quicksand;
  padding-right: 2vh;
}

section.body .toggle select option {
  background: black;
  border: 1px solid white;
  color: white;
  font-family: Quicksand;
}
